<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<div class="aboutme">
 <h1>My name is Amoy Patterson</h1>
 <p>I am a final year Computer Science major.</p>
 <p>I enjoy bringing ideas to life and that is a major reason why I opted for that major.</p>
 <p>My mantra in life is Be anxious for nothing, but in everything by prayer and supplication, <br>with thanksgiving, let your requests be made known to God.</p> 
</div>
</body>
</html> 

